<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    {{uc.userObject}}

    <button class="btn btn-default" ng-click="showTheForm = !showTheForm">Create New Grocery List</button>

    <form ng-show="showTheForm">
        <div>
            <label for="listName">Grocery List Name:</label>
            <input type="text" ng-model="uc.newGroceryList.listName" placeholder="Name your new list.">
            <!-- ng-model="lc.user.tables" -->
        </div>
        <!-- Add this later: ng-submit="vm.processForm()" -->
        <!-- <button class="btn btn-default" ng-click="newItemInputs = !newItemInputs">Add new grocery item to list</button> -->

        <button class="addfields" ng-click="uc.addNewItem()">Add Grocery Item</button> 
        <div class = "list-inputs" ng-repeat="item in uc.newGroceryItems.newGroceryList track by $index">
            <p>{{uc.newGroceryList[0]}}</p>
            <label for="item">Grocery Item:</label>
            <input type="text" ng-model="uc.newGroceryList[$index].itemName" itemName="" placeholder="Enter Item Name.">
            <br>
            <label for="quantity">Quantity:</label>
            <input type="number" ng-model="uc.newGroceryList[$index].itemQuantity" quantity="" placeholder="Enter a quantity.">
            <br>
            <label for="notes">Notes:</label>
            <input type="text" ng-model="uc.newGroceryList[$index].itemNotes" itemNotes="" placeholder="Enter any additional information.npm ">
            <br>
            <button class="remove" ng-click="uc.removeItemInputRow(newGroceryList)">Remove</button>

        </div>
        <button ng-click = "uc.sendNewList(uc.newGroceryList, uc.userObject)">Complete New List</button>
        <button type="button" ng-click="showTheForm = false">Cancel</button>
    </form>

    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
</div>
<div ng-include="'views/partials/nav.html'"></div>